* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
}

.hero {
  background: url('../img/Benguela-20141218-195607-00322-HIRES-2-2048x1367.jpg') center/cover no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0px;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f2c94c;
}

.hero-content {
  text-align: center;
  padding-bottom: 80px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  background: #f2c94c;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #e2b83a;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 60px 40px;
  background-color: #fafafa;
}

.highlight img {
  width: 100%;
  border-radius: 10px;
}

.highlight h2 {
  margin: 15px 0 10px;
  color: #222;
}

.highlight p {
  color: #666;
}

.section-title{
    font-size: 27pt;
    padding: 60px 40px;
    background-color: #fafafa;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #ccc;
}
